
footer{
  background-color:#FEC107;
  text-align: center;
}

#header{
  background-color:#FEC107;
  color:white;
  margin-bottom: 5px;
}
#myName-lg{
  text-align:center;
  color:white;
  background-color: #222222;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  font-size:74px;
}

.col-sm-8{
  border-radius: 5px;
  background-color:white;
}
footer{
  margin:5px 5px;
  padding: 5px 5px;
  border-radius: 5px;
  }

.linkspan
{
  font-size: 12px;
  background-color: #222222;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
  color: white;
}

.textimage
{
  max-height: 50px;
  display:inline-block;
}

.nopadd{
  margin:0 !important;
  padding:0 !important;
}
.mainimg{
max-width:100px;
}
.fa-external-link{
margin-left:3px;
}

.white{
  background-color:white;
  opacity:.95;
  max-width: 768px;
  margin:5px auto;
  font-size: 60px;
  border-radius: 5px;
}
.card-block .badge{
  font-size:11px;
  margin: 1px 2px;
}
.topp{
  margin-top:10px;
}

.white a{
  text-align: center;
  margin: 5px 0;
  display: inline;

}
.badge{
    background-color: #222222;
}

h2 .fa{
    font-size:11px;
    vertical-align:super;
}
