@font-face
			{
				font-family: "noodle";
				src: url("../fonts/big_noodle_titling.ttf") format("truetype");
			}
/* Colours: #16193B, #35478C, #4E7AC7, #7FB2F0, #ADD5F7 */

#wrapper{
    max-width: 100%;

    
}
body h1{
 font-family: 'Handlee', sans-serif;
    font-size: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
.top{
    background-color: #16193B;
    height: 690px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 5px #888888;
    background-image: url("../img/low-contrast-linen.png");
}

.top img{
    padding-top:  5%;
    width: 100%;
    resize: horizontal;
}
.navbar {
    width: 100%;
    text-align: center;
}

.navbar ul{
    margin-left: auto;
    margin-right: auto;
    background-color:  #35478C;
    
}

.navbar li{
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}
.navbar li a{
    color: white;   
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
}


.section{
    min-height:800px;
    max-width: 100%;    
}

#tilea{
    max-width:33.3%;
    /* <!-- Image source: Malcolm Turnbull follows PM Tony Abbott from the chamber at the end of Question Time in the House of Representatives, Federal Parliament, Canberra. Picture:Ray Strange https://newscorpaubusinessnow.files.wordpress.com/2015/09/turnbull-abbott.jpg --> */
    background: url("../img/tile1.jpg");
    min-height:45%;
    height: 813px;
    width: 33.3%;
    overflow: hidden;
    float: left;
}
#tileb{
    max-width:33.3%;
    /*<!-- Image source: Craig Hodges, 2011, "Coat of Arms on Parliament" https://craighodges.wordpress.com/tag/coat-of-arms/. Accessed 5-10-15 --> */
    background: url("../img/tile2.jpg");
    height: 813px;
    width: 33.3%;
    overflow: hidden;
    float: left;
}
#tilec{
    max-width:33.3%;
    height: 813px;
    width: 33.3%;
    background: url("../img/tile3.jpg");
    /*Image source: President Barack Obama addresses the Australian Parliament in the House of Representatives at Parliament House in Canberra, Australia, Nov.17, 2011. (Official White House Photo by Pete Souza) */
    overflow: hidden;
    float: left;
}

div.innerTile{
    position: relative;
    top: 5%;
    padding:10px 10px 10px 10px;
    margin-left: auto;
    border-radius: 15px;
    margin-right: auto;
    margin: 10px;
    opacity: .85;
    background-color: black;
    cursor:pointer;
    overflow: hidden;
}
div.innerTile:hover{
     transform: scale(1.03);
}
div.innerTile div{
    text-align: left;
    font-family: 'Antic Slab';
    color:white;
    padding: 20px;
    font-size:21px;
    display:none;
}

div.innerTile ul{
    padding: 20px 20px 20px 20px;
}


.innerTile h3{
    text-align: center;
    font-family: 'noodle';
    color:white;
    font-size:60px;
}
.innerTile span{
    font-size:80px;
}
.fullscreen{
    font-family: 'Raleway';
    padding-top:0px;
    color: white;
    width: 100%;
    max-height:100%;
    overflow: hidden;
}

.fullscreen h1{
    font-size: 140px;
    font-family: 'noodle';
    padding: 0 0 30px;
    
}

.fullscreen p{
 font-family: 'Antic Slab';
    line-height: 1.4;
    font-size: 28px;
    
}

.textinner{
    background-color: black;
    background-image: url(../img/3px-tile.png);
    border-radius: 25px;
    padding:75px 10px 10px 50px;
    width: 65%;
    
}
.inner{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width:45em;
    height: 25em;
    padding: 10px 10px 10px 10px;
    font-family: 'Antic Slab';
    color: black;
    opacity: .85;
    background-color: white;
    font-size:22px;
    border-radius: 10px;
}
.inner hr{
}

.inner p{
    font-size: 28px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.inner h1{

    width:500px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Raleway';
    
}
.inner h2{
    font-family: 'Raleway';
}

 .parallaxOne {
            box-shadow: 10px 10px 5px #888888;
            height:700px;
            width: 100%;

            
            }
.parallaxTwo {
   
            box-shadow: 10px 10px 5px #888888;
            height:700px;
            width: 100%;

            
            }
.parallaxThree {
 
            box-shadow: 10px 10px 5px #888888;
            height:700px;
            width: 100%;

            
            }
.parallaxFour {
        
            box-shadow: 10px 10px 5px #888888;
            height:700px;
            width: 100%;

            
            }
.accordianSlider{
    width: 100%;
    height: 650px;

}
/* Quiz Section CSS */
.quizSection{
    padding-top:10px;
    z-index:100;
    width: 100%;
    background-color: #7FB2F0;  
}
.innerquiz{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 800px;
    height:600px;
    text-align: center;
    border-radius: 30px;
    z-index: 150;
    background-color: white;
    padding:30px 0px 30px;
    background-image: url("../img/brushed-alum-dark.png");
    font-family: "Antic Slab";
}
.innerquiz h1{
    padding: 0px 0px 40px;
    font-family: "noodle";
    font-size: 80px;
    
} 

.innerquiz h2{
    
    font-family: "noodle";
    font-size: 60px;
    
}
.innerquiz h3{
    padding: 0  15px 0 15px;
    font-family: "Antic Slab";
    font-size: 40px;
    line-height: 1.8;
    
}
.buttonAdjust{
    border-width: 4px;
    border-color: white;
}
.innerquiz button{
   width: 600px;
    height:50px;
    background-color: #4E7AC7;
    color:white;
    padding:0 0 0 0;
    margin-top: 10px;
    font-family: "Antic Slab";
    font-size: 17px;
}
.innerquiz button p{
    padding-top:15px;
}
.correctbar i{
    float:left;
}
.buttonL{
    width:20%;
    height:100%;
    color:#4E7AC7;
    float:left;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    font-family: "noodle";
    font-size: 44px;
}

.prompt{
    border-radius: 25px;
    padding: 10px 5px 5px 5px;
    background-color: dimgrey;
    font-family: "Antic Slab";
    color: white;
    z-index: 100;
}

.prompt i{
    font-size: 60px;
    float:left;
    padding-right: 10px;
    padding-left: 10px;
    color: 
}
.prompt p{
    font-size: 22px;
    padding-top: 5px;
    padding-right: 30px;
}

#menuprompt{
    width:380px;
    height:60px;
    top: 40px;
    left:250px;
    position: fixed;
    
}
#menupromptclose{
    width:10px;
    height: 10px;
    position:absolute;
    right: 25px;
    border-width: thin;
    border-color: black;
    float:right;
    
}
#menupromptclose i{       
    font-size: 16px;
}
.innerquiz ul{
    list-style: none;
    
}
.infowrap{
     float:right;
    width:330px;
    top: 75px;
    padding-left:20px;
    height:500px;
}

.infobox{
    background-color: white;
    background-image: url(../img/brushed-alum-dark.png);
    color:black;
    padding:10px 10px 10px 20px;
    border-style: solid;
    border-color: white;
    border-width: 4px;
    border-radius: 10px;
    font-family: "Antic Slab";
    min-height: 170px;
}

#isinfo1{
    margin-left: 30px;
}
#isinfo2{
    margin-left: 30px;
}

.infobox p{
     font-size: 24px;
    line-height: 1.3;
    padding-bottom: 6px;
}

.infobox ul{
    padding: 5px 5px 5px;
         font-size: 24px;
    list-style: none;
}
.infobox ul li img{
 vertical-align: middle;
    padding-right: 5px;
}
.infobox h3{
    text-align: center;
    font-family: "noodle";
    font-size: 48px;
    padding: 0 0 10px;
    
}
.infobox h4{
    text-align: center;
    font-family: "noodle";
    font-size: 30px;
    padding-bottom: 5px;
}
.infobox ol{
    list-style: none;
    line-height: 1.0;
}
.infobox ol li{
    font-size: 20px;
    max-height: 48px;
    padding-bottom: 4px;
}

.infobox span{
    font-weight: bold;
    font-size: 26px;
    
}
footer{
    background-color: white;
    font-family: "Antic Slab";
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    margin-top: 20px;
}

.imageBar{
    max-width: 50px;
    padding-right: 5px;
    float: left;
}
.inforow {
    vertical-align: middle;
    height:60px;
}
.inforow h4{
    padding-top: 5px;
}


/* Vertical Accordion Style */
/* vertical accordian plugin: Copyright (c) 2011 Codrops. Accessed 12-10-15. http://tympanus.net/codrops/2011/07/22/vertical-sliding-accordion */
/* next 10 definitions */
.va-wrapper{
	width:100%;
	height:100%;
	
	overflow:hidden;
	background-color:black;
}
.va-slice{
	background-image: url(../img/brushed-alum-dark.png);
	
	width:100%;
	left:0px;
	overflow:hidden;
    font-family: "Antic Slab";
    font-size: 24px;
    line-height: 1.4;
}

.va-slice-color-1{
	background-color:#16193B;
}
.va-slice-color-2{
	background-color:#4E7AC7;
}
.va-slice-color-3{
	background-color:#ADD5F7;
}

.va-title{
    font-family: 'noodle'; 
	font-size:60px;
	margin-left:auto;
    margin-right: auto;
    text-align: center;
	color:#fff;
}

.va-title span{
    font-family: 'noodle'; 
	font-size:50px;
    cursor: pointer;
}

.va-title h3{
    cursor:pointer;
}
.va-content{
	display:none;
    border-radius: 25px;
    color: white;
    background-color: black;
    opacity: .9;
	margin-left:25px;
    padding: 20px 50px 20px 50px;
    margin-right: 25px;
}
.va-slice ul{
	margin-top:20px;
}

/* Immersive Slider Style */
/*-- immersive slider plugin, code provided by: Pete R. released under license: Create an immersive slider experience with jQuery Immersive Slider http://www.thepetedesign.com/demos/immersive_slider_demo.html/ (accessed October 6, 2015). */
/* next 14 definitions */
.immersive_slider {
  background: #161923;
  font-family: 'Raleway';
  max-width: 100%;
  height: 650px;
  opacity: .9;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.immersive_slider .is-slide  {
  display: table;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 50px 100px;
  position: absolute;
}
.immersive_slider .is-slide .image  {
  float: none;
  width: 50%;
  padding-left: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  vertical-align: middle;
  display: table-cell;
  padding: 0 0 0 10px;
}
.is-bg-overflow {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.is-overflow, .is-bg-overflow {
  height: 100%;
}

.ease {
  transition: 1000ms ease all;
}

.immersive_slider .is-slide .image img{
  max-width: 100%;
  display: block;
  width: 100%;
}

.immersive_slider .is-slide .content {
    float: none;
    width: 75%;
    padding: 0px 20px 20px 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: white;
    text-align: left;
    line-height: 200%;
    vertical-align: middle;
    display: table-cell;
}
.content ul{
    list-style: none;   
    font-size: 22px;
}
.content p{
    padding-top: 30px;
}

.immersive_slider .is-slide .content h2{
  font-size: 42px;
  font-weight: 300;
  text-align: left;
}

.is-container {
  position: relative;
  overflow: hidden;
}

.is-container .is-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.is-container .is-background img{
  width: 100%;
  height: 100%;
  left: 0;
  position: relative;
}

.is-next,  .is-prev {
  padding: 5px 5px 15px;
  font-size: 100px;
  position: absolute;
  bottom: 55%;
  margin-bottom: -36px;
  width: 35px;
  color: #FFF;
  display: inline-block;
  line-height: 100%;
  
}

.is-next {
  right: 60px;
    
}

.is-prev {
  left: 10px;
}

.correctbar{
    font-size:52px;
    margin-left: auto;
    margin-right: auto;
    width:500px;
    height:20px;
    backround-color: green;
    z-index: 10;
    position:relative;
    top: 100px;
    
}
.correctAnswer{
    padding-top:10px;
    position:relative;
    font-size: 18px;
    top:210px;
    right:90px;
}
.correctAnswer span{
    font-weight: 600;
}
.nxtbtnn{
    position:absolute;
    top:5940px;
    right:360px;
    
}
.darkOverlay{
    position:absolute;
    background-color: black;
    opacity:0.9;
    width:100%;
    z-index:200;
    height:900px;
}
.resultbox{
    position:absolute;
    background-color: #4E7AC7;
    width:50%;
    margin-left: 25%;
    margin-top: 15%;
    z-index:210;
    border-radius: 25px;
    height:375px;
    border-color: #7FB2F0;
    border-width:5px;
    color:white;
    font-family: "Antic Slab";

}
.resultbox h3{
    padding-top: 20px;
 font-family: "noodle";
    font-size: 78px;
    text-align: center;
    padding-top: 5px;
    
}
.resultbox hr{
    border-width: 5px;
    color: #7FB2F0;
}
#scorecard{
    text-align: center;
    font-size: 38px;
    padding-bottom: 22px;
    padding-top: 22px;
}
#message{
    font-size: 22px;
    line-height: 1.5;
    padding-left: 35px;
    padding-right: 25px;
}
#scorecard span{
    font-size: 52px;
    color: yellow;
}

.tryagain{
    position:relative;
    width:80px;
    padding: 5px 5px 5px 5px;
    height:20px;
    background-color: #35478C;
    text-align: center;
    left:545px;
    bottom: 25px;
}
.hover{
    color:black;
    cursor:pointer;
}